<%- include('../layouts/adminHeader.ejs') %>
<style>
    body{
        background-color: black;
    }
</style>
<div>
    <h2 style="color: white; margin-top: 25%; text-align: center; font-family: 'Courier New', Courier, monospace;">404 page not found<span style="color: red;"> !!</span></h2>
</div>
<script>
    let current = window.location.href
    setTimeout(()=>{
        // if(current.includes('/admin')){
        //     window.location.href = "/admin"
        // }else{
        //     window.location.href = "/"
        // }
        history.back()
    },3500)
</script>
<%- include('../layouts/adminFooter.ejs') %>